* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background: url(../images/banner.jpg);
    background-position: center top;
    background-size: cover;
    min-height: 750px;
    /* width: 100vw; */
    background-repeat: no-repeat;
    overflow: hidden;
}
.container-fluid{
    background-color: #3a3e64;
}
.header-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #313454;
    z-index: 999;
}
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    max-width: 1170px;
    padding: 40px 0;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    

}




.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#sidemenu li {
    display: inline-block;
}

#sidemenu li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#sidemenu li a:hover {
    color: #e84545;

}

.container {
    margin: auto;
    max-width: 1170px;
    overflow: hidden;
}

.banner-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner-content {
    height: 900px;
}

.banner-items h1 {
    color: #fff;
    font-size: 71px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    padding-bottom: 20px;
}

.banner-items p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
    text-align: center;

}

.btn {
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    background: #e84545;
    color: #fff;
    outline: none;
    border: none;
}

/* ---feature--sec--start-- */
.row {
    display: flex;
    justify-content: space-between;
    /* flex: 33.3%; */



}

.feature-content {
    text-align: center;
    padding: 0 40px 50px 40px
}

section {
    padding: 80px 0;
}

span.icon {
    font-size: 50px;
    padding-bottom: 20px;
    color: #e84545;

}

.feature-content h5 {
    font-size: 20px;
    padding-top: 20px;
}

.feature-content p {
    line-height: 1.5;
}

.work {
    /* border-radius: 10px; */
    position: relative;
    overflow: hidden;


}




.layer {
    width: 100%;
    height: 0;
    background: rgba(232, 69, 69, 0.9);
    position: absolute;
    left: 0;
    top: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
    transform: translateY(-50%);
    /* opacity: 0; */

}

.layer h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.layer p {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work a img {
    display: block;
    transition: transform 0.5s;
    /* max-width: 400px; */
    width: 100%;
    padding: .3px;
    min-height: 320px;
}

/* ---feature--sec--end-- */

/* ---team--section--- */
.person {
    max-width: 270px;
}

.person img {
    display: block;
    max-width: 100%;
    height: auto;
}

.person h4 {
    padding-top: 14px;
    font-size: 22px;
    font-weight: 500;
}

.person h5 {
    font-size: 16px;
    font-weight: 400;
    color: #e84545;
}

.person p {
    padding: 20px 0;
    font-size: 16px;
    text-align: left;
}

.social-icon li {
    list-style: none;
    display: inline;
}

.social-icon li a {
    font-size: 22px;
    border: 1px solid grey;
    padding: 5px 8px;
    margin-right: 2px;
    color: gray;
}

.social-icon li a:hover {
    background-color: #e84545;
    color: #fff;
}

/* ---team--section-end-- */

/* ---testimonial--section-- */

#testimonial-section {
    background-color: #53354a;
    /* position: relative; */
    padding: 0;
    overflow: hidden;
    max-height: 300px;

}

.sliders img {
    /* width: 100%;
    height: 100%; */
    max-width: 100%;
}

ul.slides {
    display: flex;
}

ul.slides li {
    list-style: none;
}

.sliders {

    width: 100%;
}

blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

blockquote p {
    color: #fff;
    padding-top: 60px;
    text-align: center;
}



/* ---testimonial--section--end */

/* --download--sec--- */
.Download-sec {
    text-align: center;
}

.Download-sec h3 {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
}

.Download-sec p {
    font-size: 14px;
    line-height: 22.4px;
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
}

.Download-sec .btn {
    margin-top: 30px;

}

/* --download--sec--end- */

/* --footer--sec-- */
.footer-top {
    background-color: #3a3e64;
    padding-top: 50px;
}

.footer-bottom {
    background-color: #313454;
    padding: 20px 0;
}

footer .footer-col {
    margin-bottom: 80px;
    width: 33.3%;

}

.footer-col h5 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.footer-col p {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-col ul.footer {
    margin: 20px;
    text-align: center;

}

.footer-col ul.footer a {
    color: #fff;
    border: 2px solid #fff;
    
}

.footer-bottom {
    text-align: center;
    color: #fff;
    line-height: 2;
    letter-spacing: 3px;
}

nav .fa-solid {
    display: none;
    padding-right: 10px;
}

/* --footer--sec--end */


@media only screen and (max-width: 600px) {

    nav .fa-solid {
        display: block;
        font-size: 25px;

    }

    #sidemenu {
        background-color: #3a3e64;
        /* height: 100%; */
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        /* opacity: 0.85; */
    }

    nav ul li {
        padding: 30px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        /* transition: 0.3s; */

    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }
}
@media (max-width: 768px) {

    #team-section .row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }
    .banner-items h1{
        font-size: 60px;
    }
    .team-inner-sec {
        padding: 20px 0;
    }

   #features .row{
    flex-direction: column;
    
   }
   #features .feature-content{
    flex-basis: 100%;
    /* max-width: 280px; */
   }
    

   

.footer-col ul.footer li {
    margin-right: 20px;
    display: block;
    margin-top: 20px;
    
}

}

@media (max-width: 992px) {

    #team-section .row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .team-inner-sec {
        padding: 20px 0;
    }
     #work-section .row{
        flex-wrap: wrap;
    
     }
     #work-section .image-section{
        flex-basis: 50%;
     }
     .footer-col ul.footer li a {
        padding: 5px;
        
    }
}


@media(max-width: 576px) {

    #features .row{
        width: 100%;
        flex-direction: column;
    }
    .banner-items h1{
        font-size: 40px;
    }

    #team-section .row {

        flex-wrap: wrap;

    }
    #work-section .image-section{
        flex-basis: 100%;
     }

     footer .row{
        flex-direction: column;
        align-items: center;
     }
     .footer-col ul.footer li {
        margin-right: 20px;
        display: block;
        margin-top: 20px;
        
    }
}